*{
	margin: 0px;
	padding: 0px;
}

#contenedorSlider{
	background-color: gray;
	width: 100%;
	margin: auto;
	position: absolute;
}

#imageSlider{
	height: 100%;
	width: 100%;
	position: inherit;
	background-color: lightgray;
	overflow: hidden;
}

#contImages{
	display: -webkit-flex;
	height: 100%;
	width: 300%;
}

.imgSlider{
	display: block;
	width: 100%;
	height: 100%;
	background-position: center;
	background-size: cover;
	top: 0px;
}

#controlSlider{
	width: 100%;
	display: block;
	position: relative;
	text-align: center;
	top: 90%;
}

#numOptions{
	display: inline-block;
	list-style: none;
	vertical-align: middle;
}

#numOptions>li{
	display: inline-block;
}

.selecsNum{
	cursor: pointer;
	width: 25px;
	height: 7px;
	background-color: transparent;
	border: 1px solid #afafaf;
	border-radius: 1px;
	margin: auto 3px;
	transition: 0.5s;
}

.selecsNum:hover{
	background-color: #ffffff33;
}

.selecNum{
	background-color: #ffffff;
	border: 1px solid white;
}

#butIzSL,#butDeSL{
	cursor: pointer;
	font-family: cursive,Verdana;
	font-size: 17pt;
	background-color: transparent;
	color: white;
	border: 0px;
	font-weight: bold;
	vertical-align: middle;
	margin: 2px 10px;
}

#contenidoSlider{
	width: 100%;
	height: 100%;
	position: absolute;
	top: 0px;
	display: flex;
	align-items: center;
}

#seccionesAlinear{
	padding: 1% 10%;
	width: 100%;
	display: none;
}

.seccion{
	padding: 20px;
	background-color: rgba(0,0,0,0.4);
	color: white;
	font-size: 16px;
	display: none;
}